<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :artist_name %>
  <%= f.text_field :artist_name%>
  <br />

   <%= f.label "Select Genre" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, "id", "name") %>


  <%= f.fields_for :notes do |note_form| %>
    <%= note_form.label :note %>
    <%= note_form.text_area :content, rows: 5, cols: 50 %>
    <br/>
  <% end %>

  <%= f.submit %>
<% end %>


